<h1>Invoices</h1>
<article class="invoices_container">
  <table id="invocesTable equalDivide" cellspacing="0">
    <tr>
      <th>Lp</th>
      <th>Opis</th>
      <th>MPK</th>
      <th>Kwota Netto</th>
      <th>Ilość</th>
      <th
        style="width: 500px
    ;"
      >VAT</th>
      <th>Kwota Brutto</th>
      <th>Wartość Netto</th>
      <th>Wartość Brutto</th>
    </tr>

    {{#each payload}}
      <tr class="invoiceRow {{this.rowID}}">

        <td>{{inc @index}}</td>
        <td>{{this.description}}</td>
        <td>{{this.MPK}}</td>
        <td><input
            class="invoice_{{this.rowID}}"
            type="text"
            value={{this.Knetto}}
          /></td>
        <td><input
            class="invoice_{{this.rowID}}"
            type="text"
            value={{this.Ilosc}}
          /></td>
        <td>
          <select class="invoice_{{this.rowID}}">
            <option value="1" class="lll">0%</option>
            <option selected value="1.03">3%</option>
            <option value="1.08">8%</option>
            <option value="1.23">23%</option>
          </select></td>
        <td><div class="invoice_{{this.rowID}}"></div></td>
        <td><div class="invoice_{{this.rowID}}"></div></td>
        <td><div class="invoice_{{this.rowID}}"></div></td>

      </tr>
    {{/each}}
  </table>

</article>

<button id="color1000">Powyzej 1000,00</button>

<script type="module" src="/scripts/invoices.js"></script>